
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483602169870'); /* IE9*/
  src: url('iconfont.eot?t=1483602169870#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483602169870') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483602169870') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483602169870#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tuichu:before { content: "\e7c7"; }

.shouye:before { content: "\e60a"; }

.zan:before { content: "\e645"; }

.wode:before { content: "\e605"; }

.fangdajing:before { content: "\e66e"; }

.zhaoxiangji:before { content: "\e87c"; }

